<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administração Clínica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">*@
</head>
<br/>
<body style="background-color:#E7ECEE">
    <div class="card rounded shadow p-3 mb-5" style="width:95%;height:90%;margin:auto">
        <div class="card-body">
            <img src="~/Content/Images/logo1.png" class="logo-central"/>
            <img src="~/Content/Images/information.png" style="float:right;" />
            <br />  
            <hr/>
            <div class="">
                <nav class="navbar navbar-expand-xl" style="background-color:#265484">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggler"
                                data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        @*<a class="navbar-brand" href="/">
                            <img src="~/Content/Images/logo.png" />
                        </a>*@
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Sobre", "About", "Home", new { }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Pacientes", "About", "Home", new { }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Consultas", "About", "Home", new { }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Procedimentos", "About", "Home", new { }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Especialistas", "About", "Home", new { }, new { @class = "nav-link" })</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administração
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @Html.ActionLink("Formas de Pagamento", "Index", "FormasPagamento", new { }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Especialidades", "Index", "Especialidades", new { }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Tipos de Procedimento", "Index", "Procedimentos", new { }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Finanças", "Finances", "Report", new { }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Usuários", "Index", "Usuarios", new { }, new { @class = "dropdown-item danger" })
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Admin", new { }, new { @class = "nav-link" })</li>
                        </ul>    
                    </div>
                </nav>
            </div>
            <div class="body-content">
                @if (ViewBag.Message != null && ViewBag.StyleClass != null)
                {
                    <div class="@ViewBag.StyleClass">@ViewBag.Message</div>
                }
                @RenderBody()
                <hr />
                <footer class="text-center">
                    <h6>&copy; @DateTime.Now.Year - Santa Rita Centro Médico</h6>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/util")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
    <script type="text/javascript">
        $('.date').mask('00/00/0000');
        $('.cpf').mask('000.000.000-00', { reverse: true });
        $('.phone').mask('(00) 00000-0000');
        $('.money').mask('000.000.000.000.000,00', { reverse: true });

        jQuery(function ($) {
            $.datepicker.regional['pt-BR'] = {
                closeText: 'Fechar',
                prevText: '&#x3c;Anterior',
                nextText: 'Pr&oacute;ximo&#x3e;',
                currentText: 'Hoje',
                monthNames: ['Janeiro', 'Fevereiro', 'Mar&ccedil;o', 'Abril', 'Maio', 'Junho',
                'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
                'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda-feira', 'Ter&ccedil;a-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sabado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['pt-BR']);
        });

        $(function () {
            $(".datepicker").datepicker();
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
