@model HealthSolution.Models.Especialidade

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Detalhes</h2>

<div>
    <h4>Especialidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Valor Consulta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorConsulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
