@model IEnumerable<HealthSolution.ViewModels.AgendaViewModel>
    @using HealthSolution.Extensions
@{
    ViewBag.Title = "Agenda";
}

<p class="mt-3">
    Agenda Médica
</p>

<div class="card mt-3">
    @using (Html.BeginForm("Agenda", "EspecialistaViewModel", FormMethod.Post, new { @class = "card-body" }))
    {
        <div class="row">
            <div class="col-md-2">
                @Html.TextBox("dataInicio", null, new { @class = "form-control date datepicker", placeholder = "Data Inicial", onchange = "form.submit()" })
            </div>
            <div class="col-md-2">
                @Html.TextBox("dataFim", null, new { @class = "form-control  date datepicker", placeholder = "Data Final", onchange = "form.submit()" })
            </div>
            <div class="col-md-2">
                @Html.DropDownList("especialistaId", null, new { @class = "form-control", onchange = "form.submit()" })
            </div>
            <div class="col-md-2">
                <button class="btn btn-success">Buscar</button>
            </div>
        </div>
    }
</div>

<div class="container">

    <table class="table table-bordered mt-3">
        <tr class="bg-light text-dark">
            <th>
                Data
            </th>
            <th>
                Hora
            </th>
            <th>
                Tipo
            </th>
            <th>
                Especialidade
            </th>
            <th>
                Doutor
            </th>
            <th>
                Paciente
            </th>
            <th>
                Observação
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Data != null ? item.Data.Date.ToString("dd/MM/yyyy") : "")</td>
                <td>@Html.GetFormatedHour(item.Hora, item.Minuto)</td>
                <td>@item.Tipo</td>
                <td>@item.Especialidade</td>
                <td>@item.Doutor</td>
                <td>@item.NomePaciente</td>
                <td>@item.Observacao</td>
                <td>@(item.AtendimentoRealizado == true ? "Atendimento Realizado" : ""  )</td>
                <td>@(item.AtendimentoRealizado == true ? (@Html.ActionLink("Alterar Atendimento", "Atendimento", new { id = item.Id, tipo = item.Tipo }, new { @class = "btn btn-link" })) : (@Html.ActionLink("Seguir Atendimento", "Atendimento", new { id = item.Id, tipo = item.Tipo }, new { @class = "btn btn-link" }))  )
            </tr>
        }
    </table>
</div>