@model IEnumerable<HealthSolution.ViewModels.FinancaViewModel>
@{
    ViewBag.Title = "Finanças";
    double totalPago = 0.0;
}
<div class="card mt-3">
    @using (Html.BeginForm("Finances", "Report", FormMethod.Post, new { @class = "card-body" }))
    {
        <div class="row">
            <div class="col-md-2">
                @Html.TextBox("dataInicio", null, new { @class = "form-control date datepicker", placeholder = "Data Inicial", onchange = "form.submit()" })
            </div>
            <div class="col-md-2">
                @Html.TextBox("dataFim", null, new { @class = "form-control  date datepicker", placeholder = "Data Final", onchange = "form.submit()" })
            </div>
            <div class="col-md-2">
                <button class="btn btn-success">Buscar</button>
            </div>
        </div>
    }
</div>
<p class="mt-3">
    Relatório de Finanças
</p>

<div class="container">

    <table class="table table-bordered">
        <tr class="bg-light text-dark">
            <th>
                Data
            </th>
            <th>
                Tipo
            </th>
            <th>
                Especialidade
            </th>
            <th>
                Doutor
            </th>
            <th>
                Paciente
            </th>
            <th>
                Forma Pagamento
            </th>
            <th>
                Valor Pago
            </th>
            <th>
                Observação
            </th>
        </tr>
        @foreach (var item in Model)
        {
            totalPago += item.ValorPago;
            <tr>
                <td>@(item.Data != null ? item.Data.Date.ToString("dd/MM/yyyy") : "")</td>
                <td>@item.Tipo</td>
                <td>@item.Especialidade</td>
                <td>@item.Doutor</td>
                <td>@item.NomePaciente</td>
                <td>@item.FormaPagamento</td>
                <td>@item.ValorPago R$</td>
                <td>@item.Observacao </td>
            </tr>
        }
        <tr>
            <td colspan="6">Total:</td>
            <td>@totalPago R$</td>
        </tr>
    </table>
</div>